.bg-azul{
    /* background-color: #b39eb5 */
    background-image: url('../assets/FunkoFundo.png');
    background-size: 100%;
    background-position: center;
    /* background-repeat: no-repeat */
}

/* para colocar transparência
    .sobreposição{
    background-color: #b39eb5;
    min-height: 300px;
    margin-top: -200px;
    filter: opacity (0.5);
    }
*/

.text-meuamarelo{
    color:#F7E47D
}

  